@font-face {
    font-family: Neo Tech;
    src: url('assets/NeoTech.ttf');
}

@font-face {
    font-family: Neo Tech-Italic;
    src: url('assets/NeoTech-LightItalic.ttf');
}

body {
    font-family: Neo Tech;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 5px;
}

.campo input {
    font-family: Neo Tech-Italic;
}

#pppoe_senha {
    margin-top: 3px;
}

.campo input,
.campo textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-campo {
    display: flex;
    align-items: center;
}

.checkbox-campo input {
    margin-right: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: Neo Tech-Italic;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #1c6fb3;
}

#scriptOutput, #desprovisionOutput {
    margin-top: 20px;
    height: 100px;
    resize: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #0056b3;
    padding: 10px 20px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.navbar-icon {
    width: 100px;
    margin-right: 20px;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px;
    text-align: center;
    margin-left: 30px;
    transition: all .5s;
    cursor: pointer;
}

.navbar a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.content {
    padding: 20px;
}

.grid-container {
    margin-top: 50px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    max-width: 700px; 
    margin: 20px auto; 
}

.grid-button {
    padding: 50px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-family: Neo Tech;
    transition: background-color 0.3s;
}

.grid-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#b1 {
    background-image: url(assets/optical.png);
    background-size: cover;
}

#b2 {
    background-image: url(assets/alert.png);
    background-size: cover;
}

#b3 {
    background-image: url(assets/clients.png);
    background-size: cover;
}

#b4 {
    background-image: url(assets/search.png);
    background-size: cover;
}

#b5 {
    grid-column: span 2;
    width: 100%;
    background-image: url(assets/remote.png);
    background-size: cover;
}